@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
.viewReport {
width: 100%;
}
.report-container {
    padding: auto;
}
.report-container .first-col img {
    width: 80px;
    position: absolute;
    margin-top: 0.5rem;
}
.report-container .first-col h2{
    margin-left:5.5rem;
    margin-top: 0.5rem;
}
.report-container .row1 {
    border-bottom:1px solid black;
}
.report-container .row2 {
    background-color:rgb(14, 14, 56);
    justify-content: center;
    text-align: center;
    color: #fff;
}
.report-container .first-col p{
    margin-left:5.5rem;
}
.report-container .sec-col h1 {
    font-family: 'La Belle Aurore', cursive;
    font-style: italic;
    font-size: 100px;
    position: absolute;
    float: right;
    margin-left: 12rem;
   
}
.report-container .sec-col .reg {
    float: right;
    font-weight: 500;
}
.report-container .sec-col .t-dic {
    font-weight: 900;
    font-size: large;
    color: rgb(14, 14, 56);
    margin-top: 4.8rem;
    margin-left: 15rem;
    
}
.report-container .sec-col .t-dic2 {
    margin-left: 15rem;
}
.report-container .col-left {
    border-right: 1px solid black;
}
.report-container .col-left h3 {
    float: right;
    background-color: rgb(14, 14, 56);
    color: #fff;;
}
.report-container .col-left li {
    line-height: 2rem
}
.report-container .col-right p {
    font-size: 30px;
    margin-top: 1rem;
}
.report-container .col-right p span {
    text-decoration: underline;
}
@media print {
    body {-webkit-print-color-adjust: exact;
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
    }
    
    .report-container .sec-col h1 {margin-left: 3rem;}
    .report-container .sec-col .t-dic{
        margin-left: 7.7rem;
        font-size: 15px;
        margin-top: 5rem;
    
    }
    .report-container .sec-col .t-dic2 {
        margin-left: 5rem;
    }
    .report-container .col-right p {
        font-size: 20px;
    }
    }
    @media (max-width:786px){
        .report-container {
            transform: scale(0.8);
        }
        .report-container .first-col img {
            width: 30px;
        }
        .report-container .first-col  h2{
            margin-left: 2rem;
            font-size: 20px;
        }
        .report-container .first-col p {
            float: left;
            margin-left: 0;
        }
        .report-container .sec-col h1 {
            float: left;
            margin-left: 2rem;
            font-size: 70px;
            margin-top: 1rem;
        }
        .report-container .sec-col .t-dic {
            margin-left: 3rem;
            margin-top: 7rem;
            font-size: 10px;
        }
        .report-container .sec-col .t-dic2 {
            margin-left: 3rem;
        }
    }