.dashboard h3 {
    color: rgb(30, 162, 238);
}
.dashboard .dashboard-wrapper {
    padding: 1em !important;
}
.dashboard-wrapper .card {
    box-shadow: 0px 0px 2px black;
}
.dashboard-wrapper .card:hover {
    transition: all 0.4s ease 0s;
    transform: scale(1.01);
}
.dashboard-wrapper .card-title {
    color: #fff;
    text-align: center;
}
.dashboard-wrapper .card-text {
    text-align: center;
    color: #fff;
    font-weight: 500;
}
@media (max-width: 768px) {
    .dashboard {
        margin-left: 3rem !important;
        transform: scale(0.7);
    }
 .sec-container {
    margin-left: 3rem !important;
    transform: scale(0.7);
 }
}